<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familjens Vecka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <script src="{{ url_for('static', filename='/weather-icons.js') }}"></script>    
    <script src="{{ url_for('static', filename='/calendar.js') }}"></script>    
    <script src="{{ url_for('static', filename='/clean-button.js') }}"></script>    

</head>
<body>
    <div class="main-container">

        <div class="container"> 
            {% for day, info in week_data.items() %}
                <div class="row">
                    <div class="day-column">
                        <h2>{{ day }} {{ info.day_of_week | replace('Sunday', 'Söndag')
                                                        | replace('Monday', 'Måndag')
                                                        | replace('Tuesday', 'Tisdag')
                                                        | replace('Wednesday', 'Onsdag')
                                                        | replace('Thursday', 'Torsdag')
                                                        | replace('Friday', 'Fredag')
                                                        | replace('Saturday', 'Lördag') }}</h2>
                    </div>

                    <div class="event-container">
                        {% for task in info.tasks %}
                            <div class="task">{{ task }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="app-container">
            <button class="app">
                <h3> {{elpris.actual_price}} KR </h3>
            </button>    
            <button class="app">
                <span id="hanna-battery-icon" class="material-symbols-outlined"></span>
                <h3> BIL {{ hanna_bil.battery }} % </h3>
            </button>                         
            <button class="app"onclick="cleanLivingroom()">
                <span class="material-symbols-outlined">weekend</span>
            </button>
            <button class="app"onclick="cleanDiningroom()">
                <span class="material-symbols-outlined">table_restaurant</span>
            </button>
            <button class="app"onclick="cleanKitchen()">
                <span class="material-symbols-outlined">stockpot</span>
            </button>
            <button class="app"onclick="cleanAbort()">
                <span class="material-symbols-outlined">undo</span>
            </button>
                        
        </div>
        <div class="sidebar"> 
            <!-- Väder och annat på höger sida -->
            <div class="weather-widget">
                <span class="material-symbols-outlined weather-icon" id="weather-icon"></span>
                <p>Temperatur just nu: {{ weather_data.current_temp }}°C </p>
                <p>Min: {{ weather_data.min_temp }}°C / Max: {{ weather_data.max_temp }}°C</p>
            </div>
            <div class="calendar-widget">
                <h3 id="calendar-month"></h3>
                <table class="calendar-table">
                    <thead>
                        <tr>
                            <th>M</th>
                            <th>T</th>
                            <th>O</th>
                            <th>T</th>
                            <th>F</th>
                            <th>L</th>
                            <th>S</th>
                        </tr>
                    </thead>
                    <tbody id="calendar-body">
                        <!-- Här kommer datumen genereras -->
                    </tbody>
                </table>
            </div>
            <div class='health-widget'> 
                <h3>Lunch för veckan</h3>
                <p><strong>Måndag:</strong> {{lunch.måndag}}</p>
                <p><strong>Tisdag:</strong> {{lunch.tisdag}}</p>
                <p><strong>Onsdag:</strong>{{lunch.onsdag}}</p>
                <p><strong>Torsdag:</strong> {{lunch.torsdag}}</p>
                <p><strong>Fredag:</strong>{{lunch.fredag}}</p>

                <h3> Status på Alexander</h3>
                <p> Sömnstatus: {{health_data.sleep_status}}%</p>
                <p> Jobbstatus: {{health_data.work_status}}%</p>
                <p>Socialstatus: 
                    Bra: {{ health_data.private_status[0] }}%, 
                    Okej: {{ health_data.private_status[1] }}%, 
                    Dålig: {{ health_data.private_status[2] }}%
                </p>
            </div>
        </div>
                
        <script>
            // Dynamiskt väderförhållande från servern
            const weatherCondition = "{{ weather_data.condition }}";
            updateWeatherIcon(weatherCondition);

            // Dynamiskt väderförhållande från servern
            const batteryIcon = "{{ hanna_bil.battery }}";
            function updateBatteryIcon(value) {
                if (value >= 95) return "battery_full";
                if (value <= 10) return "battery_alert";
                
                const step = Math.min(6, Math.ceil(value / 10)); // Begränsa stegen till max 6
                return `battery_${step}_bar`; // Returnerar exempelvis battery_6_bar
            }            
            // Uppdatera batteri-ikonen i DOM
            document.getElementById("hanna-battery-icon").innerText = updateBatteryIcon(batteryIcon);                        

        </script>    
    </div>
       
</body>

</html>
